* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --azul: #6482ad;
    --verde: #0b8494;
    --rojo: #eb3678;
    --claro: #f5eded;
    --oscuro: #0b192c;
    --oscuro-trans: #0b192ccc;

    --transSuave: all 1s ease;
}

body {
    background-color: var(--oscuro);
    font-family: 'Impact';
}

/* CLASE BOTON */
.btn {
    border: outset 0.4rem var(--oscuro);
    border-radius: 0.5rem;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    user-select: none;
    cursor: pointer;
}

.btn:hover {
    box-shadow: none;
    border: solid 0.4rem var(--oscuro);
}

.btn:active {
    border: inset 0.4rem var(--oscuro);
    color: var(--oscuro);
}

main {
    background-color: var(--azul);
    padding: 0.5rem;
    border-radius: 0.5rem;
    
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(5rem, 1fr));
    grid-template-columns: 1fr;
}

h1#input {
    grid-column: 1 /-1;

    background-color: var(--verde);
    border: dashed 0.2rem;
    font-size: 1.6rem;
    font-family: 'Franklin Gothic Medium';
    overflow-x: scroll;
    scrollbar-width: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

ul.numeros {
    list-style: none;
    padding: 0.5rem;

    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
}

li.digito {
    text-align: center;
    font-size: 2rem;
    color: var(--claro);
    background-color: var(--oscuro-trans);
}

ul.operaciones {
    list-style: none;
    padding: 0.5rem;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 0.5rem;
}

li.signo {
    flex: 1;
    background-color: var(--claro);
    text-align: center;
    font-size: 1.5rem;
    border: solid 0.4rem var(--oscuro);
}


@media only screen and (min-width: 426px) {
    main {
        grid-template-columns: 2fr 1fr;
        max-width: 620px;
        margin: 0 auto;
    }

    .digito:last-child {
        grid-column: 2;
    }
}