* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --shadow: 2px 2px 0px #f4f6ff;

    --azul: #6482ad;
    --verde: #0b8494;
    --rojo: #eb3678;

    --claro: #f4f6ff;

    --oscuro: #0b192c;
    --oscuro-trans: #0b192ccc;
}

body {
    background-color: var(--oscuro-trans);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 2fr;

    /* height: 50vh; */
    gap: 2rem;
}

nav {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

nav button {
    max-height: 4rem;
    flex: 0 0 5rem;
    border-radius: 2rem;

    border: solid;
}

/* clase */

nav div.statusItemContainer {
    user-select: none;

    background-color: var(--oscuro-trans);
    flex: 1;
    text-align: center;

    padding: 0.2rem;
    display: flex;
    flex-flow: row wrap;
    gap: 0.5rem;
    justify-content: center;
}

nav div.doneStatus {
    background-color: var(--verde);

}

div.statusItem {
    background-color: var(--claro);

    border-radius: 1rem;
    padding: 0.5rem;

    font-family: sans-serif;
}

div.statusItem.activeStatus {
    color: var(--rojo);
    border: solid;
}

/* main  */
main form {
    display: grid;
    grid-template-columns: 5fr 2fr 5fr;
    gap: 0.5rem;

    font-size: 2rem;
}

/* clase  */
.button{
    box-shadow: var(--shadow);
    cursor: pointer;
    border-radius: 1rem;
    border: solid;
}
.button:hover{
    box-shadow: none;
}
.button:active{
    background-color: var(--rojo);
}
form div.formInputs {
    display: flex;
    flex-direction: column;

    gap: 1rem;
}

form div.formActions {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}


/* inputItem */
div.formInputs div.inputItem {
    display: flex;
    justify-content: center;

}
div.inputItem input {
    flex: 1;
}

/* footer */
footer {
    background-color: var(--claro);
    text-align: center;
}
footer p{
    text-align: center;
    border: solid;
    width: 50%;
    display: inline-block;
}

/* inicio form  */
form#inicio {
    background-color: var(--oscuro-trans);
    color: var(--rojo);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;

    opacity: 0.9;

    font-size: 2rem;

    /* display: none; */
}

@media only screen and (min-width:768px){
    body{
        max-width: 80vw;
        margin: 0 auto;
    }
}