* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --shadow: 2px 2px 0px #f4f6ff;

    --azul: #6482ad;
    --verde: #0b8494;
    --rojo: #eb3678;

    --claro: #f4f6ff;

    --oscuro: #0b192c;
    --oscuro-trans: #0b192ccc;
}

body {
    background-color: var(--claro);
}

header {
    text-align: center;
    font-size: 2rem;
    padding: 0.5rem;
    user-select: none;
}

header select {
    font-size: 2rem;
}

header button {
    font-size: 1.5rem;
}

main {
    margin: 0.5rem;
}

div.peliCard {
    position: relative;
}

div.peliCard figure {
    display: flex;
}

div.peliCard figure img {
    user-select: none;
    max-width: 50%;
    max-height: 29rem;
    margin: 1rem;
    box-shadow: -1rem -1rem 0 0rem var(--oscuro);
    border-radius: 1rem;
}

div.peliCard figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3.titulo {
    font-family: Impact;
    letter-spacing: 0.1rem;
    font-weight: 100;
    font-size: 3rem;
}

h3::selection {
    color: var(--rojo);
}

figure figcaption p {
    font-family: sans-serif;
    font-style: italic;
    font-size: 1.5rem;
    overflow-y: scroll;
    scrollbar-width: none;
    user-select: none;

    max-height: 10rem;
    border-bottom: solid 2px;
}

div.peliButtons {
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;

}

button.peliBtn {
    border-radius: 50%;
    padding: 0.2rem;
    border: solid;
    cursor: pointer;
    user-select: none;
    font-size: 2rem;

    box-shadow: 0.5rem 0.2rem 0 0rem var(--rojo);
    transition: box-shadow 0.5s ease;
}

button:hover {
    box-shadow: 0rem 0 0 0.1rem var(--oscuro);
}

button:active {
    background-color: var(--rojo);
    box-shadow: 0rem 0 0 0.1rem var(--rojo);
}

button.peliActive {
    background-color: var(--rojo);
}


footer {
    color: var(--claro);
    background-color: var(--oscuro);
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 4rem;

    padding: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
}

.toggleDisplay {
    display: none;
}
figure.peliList {
    position: relative;
}

figure.peliList figcaption {
    color: var(--oscuro);
    font-family: Verdana, sans-serif;
    font-weight: 900;
    background-color: var(--claro);
    position: absolute;
    top: 0;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

figure.peliList img {
    width: 100%;
    user-select: none;
}

@media (max-width: 505px) {
    header select {
        font-size: 1rem;
    }


    div.peliCard figure {
        display: block;
        position: relative;
        text-align: center;
    }

    div.peliCard figure img {
        max-width: 100%;
        max-height: none;

        box-shadow: none;
        margin: 0;
    }

    div.peliCard figure figcaption {
        position: absolute;

        border-radius: 1rem;
        background-color: var(--oscuro-trans);
        color: var(--claro);
        padding: 1rem;

        height: 15rem;
        top: 10rem;
    }

    div.peliCard figure figcaption h3.titulo {
        font-size: 1.5rem;
    }

    div.peliCard div.peliButtons {
        justify-content: space-around;
    }
}